/*+++++++++++++++++++ date picker style */
.datepicker {
    background-color: white;
    border-color: #999;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    /*
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    display: none;
    position: absolute;
    padding-bottom: 4px;
    /*width: 218px;*/
    width: 100%
}
.datepicker .nav {
    font-weight: bold;
    width: 100%;
    padding: 4px 0;
    background-color: #f5f5f5;
    color: #777777;
    border-bottom: 1px solid #ddd;
    -moz-box-shadow: inset 0 1px 0 white;
    -webkit-box-shadow: inset 0 1px 0 white;
    -o-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
    overflow: hidden;
    *zoom: 1;
}
.datepicker .nav span {
    display: block;
    float: left;
    text-align: center;
    height: 28px;
    line-height: 28px;
    position: relative;
}
.datepicker .nav .bg {
    width: 100%;
    background-color: #fdf5d9;
    height: 28px;
    position: absolute;
    top: 0;
    left: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.datepicker .nav .fg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.datepicker .datepickerbutton {
    cursor: pointer;
    padding: 0 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.datepicker .datepickerbutton:hover {
    background-color: #777777;
    color: white;
}
.datepicker .months {
    float: left;
    margin-left: 4px;
}
.datepicker .months .name {
    width: 72px;
    padding: 0;
}
.datepicker .years {
    float: right;
    margin-right: 4px;
}
.datepicker .years .name {
    width: 36px;
    padding: 0;
}
.datepicker .dow, .datepicker .days div {
    float: left;
    width: 30px;
    line-height: 2.5em;
    text-align: center;
    width: 14%;
}
.datepicker .dow {
    font-weight: bold;
    color: #777777;
}
.datepicker .calendar {
    padding: 4px;
}
.datepicker .days {
    clear: left;
}
.datepicker .days div {
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.datepicker .days div:hover {
    background-color: #339bb9;
    color: white;
}
.datepicker .overlap {
    color: #cccccc;
}
.datepicker .today {
    background-color: #fee9cc;
}
.datepicker .selected {
    background-color: #cccccc;
    color: white;
}

/*+++++++++++++++++++++++ notice plugin style */
.afNotice {
    display: block;
    /*width: 280px;*/
    float: left;
    border: solid 1px #72767b;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 1;
    -webkit-transform: scale(1);
    -webkit-transition: all 0.20s ease-in-out;
    transform: scale(1);
    transition: all 0.20s ease-in-out;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    margin: 0px auto;
    background: rgba(70, 70, 70, 1);
    color: white;
}
.afNotice >* {
    color: inherit;
}
.afNotice.hidden {
    opacity: 0;
    -webkit-transform: scale(0);
    top: 50%;
    left: 50%;
    margin: 0px auto;
}
.afNotice>HEADER {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}
.afNotice>DIV {
    font-size: 14px;
    margin: 8px;
}
.afNotice>FOOTER {
    width: 100%;
    text-align: center;
    display: block !important;
}
.afNotice>FOOTER>A#cancel {
    float: left;
    margin-left: 5px;
}
.afNotice>FOOTER>A#action {
    float: right;
    margin-right: 5px;
}
.afNotice>FOOTER>A.center {
    float: none!important;
    width: 80%;
    margin: 8px;
}
/*+++++++++++++++++++++++ notice plugin style end */

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}
.clearfix:after {
    clear: both
}
/*.ui-loader h1{ display: none;}
.ui-loader .ui-icon{ position: absolute; left: 45%; top:45%; background-image:url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkFFOUU4NDg2OEU2OTExRTRCNEM3QjQzODEwM0IyRERBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkFFOUU4NDg3OEU2OTExRTRCNEM3QjQzODEwM0IyRERBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QUU5RTg0ODQ4RTY5MTFFNEI0QzdCNDM4MTAzQjJEREEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QUU5RTg0ODU4RTY5MTFFNEI0QzdCNDM4MTAzQjJEREEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5019BTAAAB3UlEQVR42uSY0W2EMAyGCeoCee8TK9ARGKHXEa4jXEcoIxwjlI7AClkhT333CNRIRopSxzgQ6ZBqyeIkjvDl9x8HMPM8V2eJujpRPO25yHz/WDw0mG10CjAdpteONb8+58MQwHLzC4EsYYVLJswhB8xoPIMgHR6uzM05GMtA9SkotTKkxo2UsDut0FF+YI67DByBrH6oGI9o404lzjMwAxKHI/ldBNQGSjRM6e50HHNW0zUBstx8wDr7ADw+78gjNxqHUwhoMjIMDt4SCESzmhBiyChLTzf8Ys59Yr6InqHyXBhf5IKESr0x3mpIOdHA3KrxO0FCoPeEFUSYjrloLNDpJ8Yjf6pQRyWyJOkqqwvNejD6AGLNNqWMTewzpcIx3knCcEvZV2VjkmxRb+yoUBjGn+l5ZvGNiTLZ9KB6YNQSCK6w5lEwXD0fA0NmhUip0jA2x8A+anrrxlkSJGx6IgzX5BrqzqUVARGGSuWZgboDQHaPgVNte/29Byj1f1DBkDou9k4A1CqgbPA4op5A8lWFekwrzIhbfRolIPWqUgv7kt/YtePZS68zVtPhtzZKTzstHHxVAc1/jfYrBJWtUcBADkRYJpP7SSR4IpR6B2hVOwTzb77PnArmV4ABAFKcr2PnnNpNAAAAAElFTkSuQmCC);}
#afui_mask{width: 100%;
height: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: 0;
background: #FFF;
padding: 0;
opacity: 1;}*/

#afui .header {
    /*height: 155px; min-height: 40px;*/
}
#afui .panel {
    padding: 0;
}
/*#afui #backButton{ font-size: 0;}*/

#afui #backButton::before {
    left: -15px;
}
.logo {
    text-align: center;
    padding: 30px 0;
    position: relative;
    height: 133px;
    background: #00ABE3 url(images/headerbg.png) no-repeat center top;
}
.logo .icon-logo {
    background: url(images/logo.png) no-repeat center top;
    height: 70px;
    width: 20%;
    display: inline-block;
    background-size: contain;
}
#afui .logo span {
    font-size: 3em;
}
#afui .logo .logocity {
    position: absolute;
    width: 100%;
    height: 28px;
    line-height: 28px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    color: #FFF;
}
.navbtn {
    padding-bottom: 15px;
}
.navbtn li {
    width: 33.33%;
    float: left;
    list-style: none;
    text-align: center;
    padding-top: 2.5em;
}
.navbtn li a {
    text-decoration: none;
    color: #545454;
    font-size: 1.2em;
}
@media (max-width: 320px) {
    .navbtn li a {
        font-size: 1em;
    }
}
.navbtn li .icon-navbtn {
    display: inline-block;
    width: 4em;
    height: 4em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbtn li .icon-navbtn01 {
    background-image: url(images/icon-navbtn01.png);
}
.navbtn li .icon-navbtn02 {
    background-image: url(images/icon-navbtn02.png);
}
.navbtn li .icon-navbtn03 {
    background-image: url(images/icon-navbtn03.png);
}
.navbtn li .icon-navbtn04 {
    background-image: url(images/icon-navbtn04.png);
}
.navbtn li .icon-navbtn05 {
    background-image: url(images/icon-navbtn05.png);
}
.navbtn li .icon-navbtn06 {
    background-image: url(images/icon-navbtn06.png);
}
.navbtn li .icon-navbtn07 {
    background-image: url(images/icon-navbtn07.png);
}
.navbtn li .icon-navbtn08 {
    background-image: url(images/icon-navbtn08.png);
}
.navbtn li .icon-navbtn09 {
    background-image: url(images/icon-navbtn09.png);
}
.navbtn li .icon-navbtn10 {
    background-image: url(images/icon-navbtn10.png);
}
.navbtn li .icon-navbtn11 {
    background-image: url(images/icon-navbtn11.png);
}
.navbtn li a span {
    display: block;
    text-align: center;
    color: #979797;
}
.headinfo {
    color: #929292;
    padding: 20px 5px;
    text-align: center;
    border-bottom: 10px solid #f7f7f7;
}
#afui .headinfo p.infotitle {
    font-size: 1.4em;
    padding-bottom: .3em;
    text-align: left;
    color: #929292;
}
#afui .headinfo p.infotitle .icon-position {
    width: 30px;
    height: 25px;
    display: inline-block;
    background: url(images/cityselect.png) no-repeat center center;
    background-size: 50%;
    vertical-align: middle;
}
#afui .headinfo p.infocont {
    font-size: 1.2em;
    color: #019BDC;
    text-align: left;
    margin-left: 25px;
}
#afui .headinfo p.infocont a {
    font-size: 2.0em;
    color: #FE555A;
    text-decoration: none;
}
#citytoggle {
    width: 40px;
    height: 40px;
    background: url(images/cityselect.png) no-repeat center center;
    background-size: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.articlebox {
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #979797;
}
#afui .articlebox p {
    font-size: 1em;
    line-height: 1.5em;
    color: #979797;
}
#afui .articlebox strong {
    color: #00abe3;
}
#afui .articlebox img {
    max-width: 100%;
}
#afui > #aside_menu, #afui > #menu.tabletMenu {
    color: #666666;
    background: #F4F4F4;
    border-right: none;
    box-shadow: -1px 0 6px #ccc inset;
    padding-right: 6px;
}
.citybox-hd {
    font-size: 1.5em;
    padding: 15px 25px;
}
.citybox-hd span {
    background: #00ABE3;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFF;
    margin-top: 10px;
}
.cityfilter-t {
    padding: 15px 25px 0;
}
.cityfilter-t input {
    width: 100%;
    font-size: 1em;
}
.cityfilter-c {
    font-size: 1.2em;
}
.cityfilter-c h4 {
    background: #DBDBDB;
    padding: 15px 5px 15px 30px;
}
.cityfilter-c p {
    border-bottom: 1px solid #DDD;
    padding: 10px 5px 10px 30px;
}
.exchangebox {
    font-size: 1.1em;
    padding: 15px;
}
.exchangebox .row {
    border-bottom: 1px solid #DDD;
    padding-top: 10px;
}
#afui .exchangebox label {
    font-size: 1em;
}
#afui .exchangebox select {
    font-size: 1em;
    border: none;
    background: none;
    color: #999;
}
#afui .exchangebox input {
    font-size: 1em;
    border: none;
    color: #999;
}
#afui .exchangebox button {
    font-size: 1em;
}
.exchangeaction {
    margin: 15px auto;
}
.exchangeaction button {
    background: #4BCC45;
    font-size: 1em;
    color: #FFF;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 3px;
}
#afui .exchangebox .exchangeresult p {
    font-size: 1em;
}
#afui .exchangebox .exchangeresult p strong {
    color: #ff6c6c;
}
.productbox {
    padding: 10px 0;
}
.proditem {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}
.proditem a {
    font-size: 1em;
    text-decoration: none;
    color: #FFF;
}
.proditem img {
    max-width: 100%;
}
.productbox.nodata {
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #979797;
}
#afui .proditem p {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .3);
    color: #FFF;
    margin: 0;
}
.sunrise {
    padding: 0 10px;
}
.sunrise-result {
    font-size: 1.2em;
    padding-top: 8px;
}
.sunrise-result span {
    color: #DC4232;
}
#date-input {
    border: none!important;
    padding: 0!important;
    font-size: 1.2em!important;
    line-height: 20px!important;
    height: 20px!important;
    margin-bottom: 0!important;
    margin-top: 5px!important;
}
.datepicker {
    position: relative;
}
.datepicker .calendar {
    overflow: hidden;
}
#afui #menu .list li {
    padding: 15px 20px 15px 0;
    border-color: #CCC;
}
#afui #menu .list li:last-child {
    border: none;
}
#afui #menu .list .divider {
    background-color: #00ABE3;
    color: #FFF;
    padding: 15px;
}
#afui .loading-bd {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background: #FFF;
    padding: 0;
    opacity: 1;
}
#afui .loading-bd .loading-icon {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 36px;
    height: 36px;
    background-image: url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDIxIDc5LjE1NTc3MiwgMjAxNC8wMS8xMy0xOTo0NDowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTQgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkFFOUU4NDg2OEU2OTExRTRCNEM3QjQzODEwM0IyRERBIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkFFOUU4NDg3OEU2OTExRTRCNEM3QjQzODEwM0IyRERBIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6QUU5RTg0ODQ4RTY5MTFFNEI0QzdCNDM4MTAzQjJEREEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6QUU5RTg0ODU4RTY5MTFFNEI0QzdCNDM4MTAzQjJEREEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5019BTAAAB3UlEQVR42uSY0W2EMAyGCeoCee8TK9ARGKHXEa4jXEcoIxwjlI7AClkhT333CNRIRopSxzgQ6ZBqyeIkjvDl9x8HMPM8V2eJujpRPO25yHz/WDw0mG10CjAdpteONb8+58MQwHLzC4EsYYVLJswhB8xoPIMgHR6uzM05GMtA9SkotTKkxo2UsDut0FF+YI67DByBrH6oGI9o404lzjMwAxKHI/ldBNQGSjRM6e50HHNW0zUBstx8wDr7ADw+78gjNxqHUwhoMjIMDt4SCESzmhBiyChLTzf8Ys59Yr6InqHyXBhf5IKESr0x3mpIOdHA3KrxO0FCoPeEFUSYjrloLNDpJ8Yjf6pQRyWyJOkqqwvNejD6AGLNNqWMTewzpcIx3knCcEvZV2VjkmxRb+yoUBjGn+l5ZvGNiTLZ9KB6YNQSCK6w5lEwXD0fA0NmhUip0jA2x8A+anrrxlkSJGx6IgzX5BrqzqUVARGGSuWZgboDQHaPgVNte/29Byj1f1DBkDou9k4A1CqgbPA4op5A8lWFekwrzIhbfRolIPWqUgv7kt/YtePZS68zVtPhtzZKTzstHHxVAc1/jfYrBJWtUcBADkRYJpP7SSR4IpR6B2hVOwTzb77PnArmV4ABAFKcr2PnnNpNAAAAAElFTkSuQmCC);
}
/* music */
.u-globalAudio {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: fixed;
    right: 20px;
    bottom: 28px;
    display: block;
    z-index: 9999;
}
.u-globalAudio span {
    position: absolute;
    left: -60px;
    top: 10px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 2px;
    -webkit-transition: all .2s linear;
    opacity: 0;
    -webkit-transform: translateX(-20px)
}
.u-globalAudio span img {
    width: 7px;
    height: 12px;
}
.u-globalAudio .icon-music {
    width: 27px;
    height: 27px;
    background: url(images/units-icons.png) 0 0;
    display: block;
    background-size: 82px 30px;
}
.u-globalAudio.z-play .icon-music {
    -webkit-animation: reverseRotataZ 1.2s linear infinite
}
.u-globalAudio span.z-show {
    opacity: 1;
    -webkit-transform: translateX(0px)
}
.u-globalAudio .coffee-steam-box {
    -webkit-transform: translate(-40px, -40px)
}
@-webkit-keyframes reverseRotataZ {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(-360deg)
    }
}
@-webkit-keyframes rotataZ {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg)
    }
}

/*小屏幕版*/
@media (max-width: 320px) {
    .datepicker .dow, .datepicker .days div {
        line-height: 2em;
    }
}
/*小屏幕版*/
@media (min-width: 321px) and (max-width: 480px) {}
/*中屏幕版*/
@media (min-width: 481px) and (max-width: 640px) {}
/*中上屏幕版*/
@media (min-width: 641px) and (max-width: 768px) {}
/*大屏幕版*/
@media (min-width: 769px) and (max-width: 1024px) {}
/*大屏幕版*/
@media (min-width: 1025px) {}
